<h1>login</h1>
<style>
  h3{
    color: red;
  }
</style>
{% for message in messages %}
 <h4>{{message}}</h4>
 {% endfor %}

<form action="{% url 'register' %}" method="POST">
  {% csrf_token %}
  <p>username:</p>
  <input type="text" name="username">
  <p>first name:</p>
  <input type="text" name="first_name">
  <p>last name:</p>
  <input type="text" name="last_name">
  <p>state:</p>
  <input type="text" name="state">
  <p>local goverment:</p>
  <input type="text" name="local_gov">
  <p>email:</p>
  <input type="text" name="email">
  <P>phone number:</P>
  <input type="text" name="phone_number">
  <P>password:</P>
  <input type="password" name="password">
  <p>Confirm password:</p>
  <input type="password" name="password2"> <br>
  <input type="submit" class="button" value="Signup">
</form>

<span class="signup">Already have an account?
  <a href="{% url 'login' %}"><label for="check">Signin</label></a>
</span>